<h2><em>Here are all of our current pizza orders:</em></h2>
   <% @all_pizzas.each do |pizza| %>
      <h3><div class="order-list">
        <p>Name: <a href="/pizzas/ <%= pizza.id %>"><%= pizza.pretty_name %></a></p>
        <hr>
      </div>
   <% end %>

</h3>

<a class="button" href="/pizzas/new">Order</a>
